<h1>Index</h1>

<form action="/addBurger" method="POST">

    <input type="text" name="burger_name">

    <label><input type="radio" name="devoured" value="true">true</label>
    <label><input type="radio" name="devoured" value="false" checked>false</label>

    <input type="submit" name="submit" value="Submit">


</form>